<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Home - Brand</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap"
    />
    <link rel="stylesheet" href="static/fonts/simple-line-icons.min.css" />
    <link rel="stylesheet" href="static/css/animate.min.css" />
    <link rel="stylesheet" href="static/css/Login-Form-Basic-icons.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-body py-3">
      <div class="container">
        <img
          data-bss-hover-animate="bounce"
          src="static/img/leaf_img-removebg-preview.png"
          width="65"
          height="60"
        /><a class="navbar-brand d-flex align-items-center" href="#">
          <h1>
            <strong
              ><span
                style="
                  color: rgb(33, 37, 41);
                  background-color: rgb(248, 249, 250);
                "
                >Disease Identifier</span
              ></strong
            >
          </h1>
          <span><br /><br /></span> </a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-2"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-bss-hover-animate="pulse"
                href="home.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-bss-hover-animate="pulse"
                href="contact.html"
                >Contact Us</a
              >
            </li>
            <li class="nav-item"></li>
          </ul>
          <a class="btn btn-primary ms-md-2" role="button" href="login.html"
            >Log In</a
          >
        </div>
      </div>
    </nav>
    <header
      class="text-center text-white masthead"
      style="background: url('static/img/leafbg2.jpg')"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto position-relative">
            <h1 class="mb-5">Welcome to the Leaf Disease Identifier!</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
            <form>
              <div class="row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input
                    class="form-control form-control-lg"
                    type="email"
                    placeholder="Enter your email..."
                  />
                </div>
                <div class="col-12 col-md-3">
                  <a
                    class="btn btn-primary btn-lg"
                    role="button"
                    href="signup.html"
                    >Sign up!</a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </header>
    <section class="text-center bg-light features-icons">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
              <div class="d-flex features-icons-icon">
                <i
                  class="icon-organization m-auto text-primary"
                  data-bss-hover-animate="pulse"
                ></i>
              </div>
              <h3>Based on Deep Learning</h3>
              <p class="lead mb-0">
                This web application uses a CNN model to give accurate
                predictions
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
              <div class="d-flex features-icons-icon">
                <i
                  class="icon-layers m-auto text-primary"
                  data-bss-hover-animate="pulse"
                ></i>
              </div>
              <h3>Dynamic &amp; Adaptive</h3>
              <p class="lead mb-0">
                It works on various devices &amp; under many different
                situations!
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
              <div class="d-flex features-icons-icon">
                <i
                  class="icon-check m-auto text-primary"
                  data-bss-hover-animate="pulse"
                ></i>
              </div>
              <h3>Easy to Use</h3>
              <p class="lead mb-0">
                Just upload an image, and get the exact condition of your plant!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row g-0">
          <div
            class="col-lg-6 text-white order-lg-2 showcase-img"
            style="
              margin-left: 0px;
              background: url('static/img/nnpic2.jpg') top / contain no-repeat;
              overflow: clip;
            "
          >
            <span></span>
          </div>
          <div class="col-lg-6 my-auto order-lg-1 showcase-text">
            <h2>What is Deep Learning?</h2>
            <p class="lead mb-0">
              Deep Learning is a more complex form of Machine Learning, which
              uses complex algorithms such as Convoluted Neural Network (CNN),
              to provide accurate and adaptive predictions.&nbsp;
            </p>
          </div>
        </div>
        <div class="row g-0">
          <div
            class="col-lg-6 text-white showcase-img"
            style="
              background: url('static/img/nnpic-removebg-preview.png') center /
                contain no-repeat;
            "
          >
            <span></span>
          </div>
          <div class="col-lg-6 my-auto order-lg-1 showcase-text">
            <h2>Advantages of Deep Learning</h2>
            <p class="lead mb-0">
              Deep Learning offers numerous advantages, including automated
              feature learning, high accuracy, scalability, transfer learning,
              parallel processing, handling non-linearity, etc. It continues to
              evolve with ongoing research, making it a versatile &amp; powerful
              tool for tackling complex tasks in diverse domains,
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="text-center bg-light testimonials">
      <div class="container">
        <h2 class="mb-5">This Project has been made by...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="mx-auto testimonial-item mb-5 mb-lg-0">
              <img
                class="rounded-circle img-fluid mb-3"
                src="static/img/testimonials-1.jpg"
              />
              <h5>Vedant Ayare</h5>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mx-auto testimonial-item mb-5 mb-lg-0">
              <img
                class="rounded-circle img-fluid mb-3"
                src="static/img/testimonials-2.jpg"
              />
              <h5>Sidharth Murali</h5>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="mx-auto testimonial-item mb-5 mb-lg-0">
              <img
                class="rounded-circle img-fluid mb-3"
                src="static/img/testimonials-3.jpg"
              />
              <h5>Sharan Choksi</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section
      class="text-center text-white call-to-action"
      style="background: url('static/img/leafbg2.jpg')"
    ></section>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
  </body>
</html>
