<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>IMAP_homepage</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;display=swap"
    />
    <link rel="stylesheet" href="static/css/animate.min.css" />
    <link rel="stylesheet" href="static/css/Login-Form-Basic-icons.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-body py-3">
      <div class="container">
        <img
          data-bss-hover-animate="bounce"
          src="static/img/leaf_img-removebg-preview.png"
          width="65"
          height="60"
        /><a class="navbar-brand d-flex align-items-center" href="#">
          <h1 data-bss-hover-animate="bounce">
            <strong
              ><span
                style="
                  color: rgb(33, 37, 41);
                  background-color: rgb(248, 249, 250);
                "
                >Disease Identifier</span
              ></strong
            >
          </h1>
          <span><br /><br /></span> </a
        ><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-2"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-2">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                data-bss-hover-animate="pulse"
                href="home.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-bss-hover-animate="pulse"
                href="contact.html"
                >Contact Us</a
              >
            </li>
            <li class="nav-item"></li>
          </ul>
          <a class="btn btn-primary ms-md-2" role="button" href="login.html"
            >Log In</a
          >
        </div>
      </div>
    </nav>
    <header
      class="text-center text-white masthead"
      style="background: url('static/img/leafbg2.jpg')"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto position-relative">
            <h1 class="mb-5">Welcome to the Leaf Disease Identifier!</h1>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row d-flex justify-content-center">
              <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card mb-5">
                  <div class="card-body p-sm-5">
                    <h2 class="text-center mb-4">Sign Up</h2>
                    <form method="post">
                      <div class="mb-3">
                        <input
                          class="form-control"
                          type="text"
                          id="name-2"
                          name="name"
                          placeholder="Name"
                        />
                      </div>
                      <div class="mb-3">
                        <input
                          class="form-control"
                          type="email"
                          id="email-2"
                          name="email"
                          placeholder="Email"
                        />
                      </div>
                      <div>
                        <input
                          class="form-control"
                          type="password"
                          placeholder="Password"
                        />
                      </div>
                      <div class="mb-3"></div>
                      <div>
                        <input
                          class="form-control"
                          type="date"
                          name="Date of Birth"
                          value="DoB"
                        />
                      </div>
                      <div class="fs-6 fw-bolder d-lg-flex m-auto"></div>
                      <div>
                        <a
                          class="btn btn-primary d-block w-100"
                          role="button"
                          href="mainpage.html"
                          >Sign Up</a
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
  </body>
</html>
